{<<"app">>,<<"reltool_util">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang reltool utility functionality application">>}.
{<<"files">>,
 [<<"src">>,<<"src/reltool_util.app.src">>,<<"src/reltool_util.erl">>,
  <<"doc">>,<<"doc/edoc-info">>,<<"doc/erlang.png">>,<<"doc/index.html">>,
  <<"doc/modules-frame.html">>,<<"doc/overview-summary.html">>,
  <<"doc/reltool_util.html">>,<<"doc/stylesheet.css">>,<<"release">>,
  <<"scope">>,<<"ex2erl">>,<<"rebar.config">>,<<"README.markdown">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/okeuday/reltool_util">>}]}.
{<<"maintainers">>,[<<"Michael Truog">>]}.
{<<"name">>,<<"reltool_util">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.7.5">>}.
