{<<"name">>,<<"epgsql">>}.
{<<"version">>,<<"3.4.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"epgsql">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"PostgreSQL Client">>}.
{<<"files">>,
 [<<"src/epgsql.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/epgsql.hrl">>,<<"include/epgsql_binary.hrl">>,
  <<"include/epgsql_geometry.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/epgsql.erl">>,<<"src/epgsql_binary.erl">>,
  <<"src/epgsql_errcodes.erl">>,<<"src/epgsql_fdatetime.erl">>,
  <<"src/epgsql_idatetime.erl">>,<<"src/epgsql_sock.erl">>,
  <<"src/epgsql_types.erl">>,<<"src/epgsql_wire.erl">>,<<"src/epgsqla.erl">>,
  <<"src/epgsqli.erl">>,<<"src/ewkb.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/epgsql/epgsql">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
