{<<"app">>,<<"erlang_base62">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Base62 encoder/decoder in pure Erlang.">>}.
{<<"files">>,
 [<<"src/erlang_base62.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/base62.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/Gilbert-Wong/base62">>}]}.
{<<"name">>,<<"erlang_base62">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.0">>}.
