{<<"app">>,<<"abnfc">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"ABNF parser generator">>}.
{<<"files">>,
 [<<"README.md">>,<<"include/abnfc_ast.hrl">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/abnfc.app.src">>,<<"src/abnfc.erl">>,
  <<"src/abnfc_ast.erl">>,<<"src/abnfc_gen.erl">>,
  <<"src/abnfc_rfc4234.abnf">>,<<"src/abnfc_rfc4234.erl">>,
  <<"src/abnfc_rfc4234.hrl">>,<<"src/abnfc_rfc4234ext.abnf">>,
  <<"src/abnfc_rfc4234ext.erl">>,<<"src/abnfc_rfc4234ext.hrl">>,
  <<"src/rfc4234_core.abnf">>,<<"src/rfc4234_core.erl">>,
  <<"src/rfc4234_core.hrl">>,<<"src/rfc4234ext_core.abnf">>,
  <<"src/rfc4234ext_core.erl">>,<<"src/rfc4234ext_core.hrl">>]}.
{<<"licenses">>,[<<"Unknown">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/rbkmoney/abnfc.git">>}]}.
{<<"name">>,<<"abnfc">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.5.2">>}.
