%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=2 sw=2 ft=erlang et     

[
 {email_gateway, [
   {relay, "smtp.gmail.com"        },
   {user, "robert.wagner@ndbit.de"},
   {password, "1A2b3C,,..,,"      }
 ]},
 {mlp_backend, [
   {host, {127,0,0,1} },
   {port, 8080        },
   {netopts, []       }
 ]},
 {dbconnect, [
                 {pools, [
                          {db,
                           [
                            {size, 6},
                            {max_overflow, 0}
                           ],
                           #{host    => "localhost"         ,
                             database=> "mlp_store"         ,
                             username=> "postgres"          ,
                             password=> "pwpostgres"        ,
                             port    =>  5432               ,
                             ssl     => true                }
                          }
                         ]
                 }
                ]
 }
].