%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=2 sw=2 ft=erlang et     

[
 {MLP-Backend, []},
 {dbconnection, [
                 {pools, [
                          {db,
                           [
                            {size, 6},
                            {max_overflow, 0}
                           ],
                           #{host    => "localhost"         ,
                             database=> "mlp"               ,
                             username=> "postgres"          ,
                             password=> "pwpostgres"        ,
                             port    =>  5432               ,
                             ssl     => true                }
                          }
                         ]
                 }
                ]
 },
].
