{<<"name">>,<<"syn">>}.
{<<"version">>,<<"1.6.2">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"syn">>}.
{<<"maintainers">>,[<<"Roberto Ostinelli">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"A global Process Registry and Process Group manager.">>}.
{<<"files">>,
 [<<"src/syn.app.src">>,<<"LICENSE.md">>,<<"README.md">>,
  <<"include/syn.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src/syn.erl">>,
  <<"src/syn_app.erl">>,<<"src/syn_backbone.erl">>,
  <<"src/syn_consistency.erl">>,<<"src/syn_groups.erl">>,
  <<"src/syn_registry.erl">>,<<"src/syn_sup.erl">>,<<"src/syn_utils.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/ostinelli/syn">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
