{<<"app">>,<<"jwt">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang JWT library">>}.
{<<"files">>,
 [<<"src/jwt.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/jwt_ecdsa.hrl">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"rebar.lock">>,<<"src/jwk.erl">>,<<"src/jwt.erl">>,
  <<"src/jwt_ecdsa.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/artemeff/jwt">>}]}.
{<<"name">>,<<"jwt">>}.
{<<"requirements">>,
 [{<<"base64url">>,
   [{<<"app">>,<<"base64url">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>0.0.1">>}]},
  {<<"jsx">>,
   [{<<"app">>,<<"jsx">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>2.8.0">>}]}]}.
{<<"version">>,<<"0.1.10">>}.
