{<<"app">>,<<"rebar3_abnf_compiler">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A ABNF compiler for rebar3 3.7+">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar3_abnf_compiler.app.src">>,<<"src/rebar3_abnf_compiler.erl">>,
  <<"src/rebar3_abnf_compiler_prv.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/rbkmoney/rebar3_abnf_compiler.git">>}]}.
{<<"name">>,<<"rebar3_abnf_compiler">>}.
{<<"requirements">>,
 [{<<"abnfc">>,
   [{<<"app">>,<<"abnfc">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.5.2">>}]}]}.
{<<"version">>,<<"0.1.2">>}.
