{<<"name">>,<<"iso8601">>}.
{<<"version">>,<<"1.3.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"iso8601">>}.
{<<"maintainers">>,[<<"Duncan McGreggor">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"An ISO 8601 date formating and parsing library for Erlang">>}.
{<<"files">>,
 [<<"src/iso8601.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/iso8601.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/erlsci/iso8601">>},
  {<<"Gitlab">>,<<"https://gitlab.com/erlsci/iso8601">>},
  {<<"Hex">>,<<"https://hex.pm/packages/iso8601">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
