{<<"app">>,<<"email_validator">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A library to validate email address format.">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/email_validator.app.src">>,<<"src/email_validator.erl">>,
  <<"src/email_validator_abnf.abnf">>,<<"src/email_validator_abnf.erl">>,
  <<"src/email_validator_abnf.hrl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/rbkmoney/email_validator.git">>}]}.
{<<"name">>,<<"email_validator">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.0">>}.
