{<<"app">>,<<"varpool">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang Process Pools as a Local Variable">>}.
{<<"files">>,
 [<<"src/varpool.app.src">>,<<"src/varpool.erl">>,<<"src/varpool_sup.erl">>,
  <<"doc/edoc-info">>,<<"doc/erlang.png">>,<<"doc/index.html">>,
  <<"doc/modules-frame.html">>,<<"doc/overview-summary.html">>,
  <<"doc/stylesheet.css">>,<<"doc/varpool.html">>,<<"doc/varpool_sup.html">>,
  <<"test/varpool_test_server.erl">>,<<"rebar.config">>,
  <<"README.markdown">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/okeuday/varpool">>}]}.
{<<"maintainers">>,[<<"Michael Truog">>]}.
{<<"name">>,<<"varpool">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"reltool_util">>},
   {<<"name">>,<<"reltool_util">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.7.3">>}]]}.
{<<"version">>,<<"1.7.3">>}.
